body {
    font-family: Arial, Helvetica, sans-serif;
}

.materias {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

li {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.inicio {
    background-color: #FF0000;
    margin-right: 50px;
}

.bio {
    background-color: #0F9F3F;
}

.fis {
    background-color: #96A2B8;
}

.geo {
    background-color: #BE4D18;
}

.his {
    background-color: #158653;
}

.ing {
    background-color: #FC9CE9;
}

.lp {
    background-color: #7F70EB;
}

.mat {
    background-color: #FF7700;
}

.qui {
    background-color: #0AFF3F;
}

.extras {
    background-color: black;
    margin-left: 50px;
}

.bemvindo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5D7D7;
    justify-content: space-around;
    font-size: 2.5rem;
}

.voltar {
    margin-left: 150px;
}

.tarefas {
    justify-content: center;
    margin-top: 80px;
    background-color: #F1E6AD;
    width: 180dvh;
    height: 123dvh;
    border: 3px solid black;
    margin-bottom: 20dvh;
}

.descricao {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nome {
    margin-left: 80px;
    font-size: 2.5rem;
}

.turma {
    margin-right: 80px;
    font-size: 1.5rem;
}

.line {
    display: flex;
    justify-content: center;
}

.linha {
    display: flex;
    height: 1px;
    width: 170dvh;
    background-color: black;
}

.pendentes {
    font-size: 1.3rem;
    margin-left: 100px;
    margin-top: 40px;
}

.engloba {
    display: flex;
    justify-content: center;
}

.disciplinas {
    width: 152dvh;
    height: 82dvh;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.ajustar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.biologia {
    display: flex;
    background-color: #009933;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 120dvh;
}

.fisica {
    display: flex;
    background-color: #96A2B8;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 120dvh;
}

.matematica {
    display: flex;
    background-color: #FF7700;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 120dvh;
}

.marcacao {
    display: flex;
    justify-content: space-around;
}

.livro {
    width: 280px;
    font-size: 1.5rem;
}

.concluido {
    padding: 10px;
    background-color: #007326;
    border-radius: 5px;
    font-size: 1.5rem;
}

.concluidofis {
    padding: 10px;
    background-color: #70798A;
    border-radius: 5px;
    font-size: 1.5rem;
}

.concluidomat {
    padding: 10px;
    background-color: #BF5900;
    border-radius: 5px;
    font-size: 1.5rem;
}


.materiabio {
    margin-left: 68px;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
}

footer {
    background-color: #E5D7D7;
    display: flex;
    justify-content: center;
}

.contato {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    align-items: center;
    background-color: #B89F9F;
    height: 30px;
}